@font-face {
    font-family: 'Hoengseong Hanu';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HoengseongHanu/HoengseongHanu.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HoengseongHanu/HoengseongHanu.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HoengseongHanu/HoengseongHanu.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HoengseongHanu/HoengseongHanu.ttf') format('truetype');
}
